@use "../../styles/vars.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  text-align: center;
}

.width_constraint {
  width: 100%;
  max-width: vars.$breakpoint-lg;
}

.inner_container {
  background-color: yellow;
}
