@use "../../styles/vars.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: vars.$spacing-large vars.$spacing-medium;
}

.width_constraint {
  width: 100%;
  max-width: vars.$breakpoint-lg;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
  margin-top: vars.$spacing-large;
}

.inner_container > article {
  display: flex;
  gap: 1rem;
  min-height: 120px;
  max-width: 382px;
  text-align: left;
}
.inner_container > article > img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 25%;
}

.quote_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quote_container > q {
  font-size: vars.$font-size-special;
  font-style: italic;
  color: vars.$font-color-main-off;
}

@media (max-width: vars.$breakpoint-xs) {
  .container {
    padding: vars.$spacing-medium vars.$spacing-xsmall;
  }

  .inner_container > article {
    flex-direction: column;
    align-items: center;
  }

  .quote_container {
    align-items: center;
    text-align: center;
  }
}
