@use "../../styles/vars.scss";

$bg-p-transition-speed: 160ms;

.container {
  display: grid;
  justify-items: center;
  text-align: center;
  will-change: auto;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--bgPosition);
  background-image: var(--bgImg);
  transition: background-position $bg-p-transition-speed ease-in-out;
}
.overlay {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  background-color: vars.$theme-dark-bg;
}

.inner_container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  max-width: vars.$breakpoint-md;
  z-index: 2;
  padding: vars.$spacing-xlarge vars.$spacing-small;
}

.cta_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$spacing-xsmall;
  width: 100%;
  height: 100%;
  text-align: center;
  color: vars.$font-color-secondary;
  font-size: var(--font-size-subtitle);
  transition: max-width vars.$transition-short ease-in-out;
}
.cta_container h2 {
  margin-top: vars.$spacing-xsmall;
  margin-bottom: vars.$spacing-xsmall;
  font-family: vars.$font-stack-title;
  font-weight: bold;
}
.cta_container input {
  min-height: vars.$sizing-xsmall;
  width: 100%;
  max-width: 56%;
  border: 2px solid white;
  padding-left: 0.6em;
  font-style: italic;
  background-color: vars.$theme-lght-bg;
  transition: max-width vars.$transition-short ease-in-out;
}

@media (max-width: vars.$breakpoint-lg) {
  .cta_container input {
    max-width: 80%;
  }
}

@media (max-width: vars.$breakpoint-xs) {
  .inner_container {
    padding: vars.$spacing-large vars.$spacing-xsmall;
  }
}
