.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 1em;
  background-color: yellowgreen;
  text-align: center;
}

.width_constraint {
  width: 100%;
  max-width: 1200px;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  background-color: tan;
}
