@import "../../styles/vars.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("/src//assets/bg/hero-bg-1.jpg") no-repeat center center/cover;
  padding: var(--spacing-large) var(--spacing-small);
}

.width_constraint {
  width: 100%;
  max-width: var(--breakpoint-lg);
}

.inner_container {
  width: 100%;
  height: 100%;
}

.cta_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--spacing-xsmall);
  width: 100%;
  max-width: 56%;
  height: 100%;
  text-align: left;
  border-left: 3px solid var(--theme-main);
  color: var(--font-color-main);
  background-color: var(--theme-dark-bg);
  padding: var(--spacing-medium) var(--spacing-small);
  font-size: var(--font-size-special);
}

.cta_container h1 {
  font-family: Calisto, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: var(--spacing-medium);
  font-size: var(--font-size-h1);
}

.cta_button {
  border-radius: 5px;
  margin-top: var(--spacing-xsmall);
  border: thin solid var(--theme-accent);
  height: var(--spacing-medium);
  width: var(--sizing-large);
  background-color: var(--theme-main);
}

.cta_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
