@use "./vars.scss";

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.container__global {
  display: flex;
  justify-content: center;
  padding: vars.$spacing-large vars.$spacing-medium;
}

.width_constraint__global {
  width: 100%;
  max-width: vars.$breakpoint-lg;
}

.dark_bg_link {
  color: vars.$theme-main !important;
}
.dark_bg_link.affiliate_link {
  text-decoration: underline !important;
}

.cta_button__global {
  border-radius: 5px;
  margin-top: vars.$spacing-xsmall;
  border: thin solid vars.$theme-accent;
  height: vars.$spacing-medium;
  width: vars.$sizing-large;
  background-color: vars.$theme-main;
}

.cta_button__global a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  color: vars.$theme-accent;
}

@media (max-width: vars.$breakpoint-xs) {
  .container__global {
    padding: vars.$spacing-large vars.$spacing-xsmall;
  }
}
