@use "./vars.scss";

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.container__global {
  display: flex;
  justify-content: center;
  padding: vars.$spacing-large vars.$spacing-medium;
}

.width_constraint__global {
  width: 100%;
  max-width: vars.$breakpoint-lg;
}

@media (max-width: vars.$breakpoint-xs) {
  .container__global {
    padding: vars.$spacing-large vars.$spacing-xsmall;
  }
}
