@use "../../styles/vars.scss";

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84px;
  text-align: center;
  z-index: 999;
  padding: vars.$spacing-xsmall;
  background-color: vars.$theme-main;
}

.container_spacer {
  height: 84px;
  padding: vars.$spacing-xsmall;
}

.width_constraint {
  width: 100%;
  max-width: vars.$breakpoint-lg;
}

.inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: vars.$font-color-secondary;
}

.inner_container div:first-of-type {
  justify-content: start;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container {
  font-size: vars.$font-size-h3;
  font-weight: vars.$font-w-bold-less;
}

.links_container {
  flex-grow: 1;
  gap: vars.$spacing-small;
  font-size: vars.$font-size-special;
}
.links_container > button {
  border: none;
  background-color: transparent;
  color: vars.$font-color-secondary;
}
.links_container > button[data-active] {
  color: vars.$font-color-main;
}

.cart_container::before {
  content: "";
  background-color: vars.$font-color-main;
  -webkit-mask-image: url("/icons/shopping-cart.svg");
  mask-image: url("/icons/shopping-cart.svg");
  width: 1em;
  height: 1em;
}

.cart_item_count {
  padding-right: vars.$spacing-small;
  padding-left: 0.5em;
}

@media (max-width: vars.$breakpoint-md) {
  .links_container {
    display: none;
  }
}
