@use "../../styles/vars.scss";

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84px;
  text-align: center;
  padding: vars.$spacing-xsmall;
  background-color: vars.$theme-main;
}

.container_spacer {
  height: 84px;
  padding: vars.$spacing-xsmall;
}

.width_constraint {
  width: 100%;
  max-width: vars.$breakpoint-lg;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: vars.$font-color-main;
}

.inner_container div:first-of-type {
  justify-content: start;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container {
  font-size: vars.$font-size-h2;
}

.links_container {
  flex-grow: 1;
  display: flex;
  gap: vars.$spacing-small;
}
.links_container button {
  border: none;
  background-color: transparent;
  color: vars.$font-color-main;
}

.cart_container::before {
  content: "";
  background: url("/src/assets/icons/shopping-cart.svg") no-repeat center
    center/contain;
  width: 1em;
  height: 1em;
}

.cart_item_count {
  padding-right: vars.$spacing-small;
  padding-left: 0.5em;
}
