@use "../../styles/vars.scss";

.container {
  display: grid;
  justify-items: center;
  text-align: center;
  will-change: auto;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--bgPosition);
  background-image: var(--bgImg);
  transition: background-position 120ms ease-in-out;
}
.overlay {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  background-color: vars.$theme-dark-bg;
}

.inner_container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: vars.$spacing-xlarge vars.$spacing-small;
}

.cta_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$spacing-xsmall;
  width: 100%;
  height: 100%;
  text-align: center;
  color: vars.$font-color-secondary;
  border: vars.$spacing-xsmall solid vars.$theme-main;
  padding: vars.$spacing-medium vars.$spacing-xsmall;
  font-size: var(--font-size-special);
  transition: max-width vars.$transition-short ease-in-out;
}
.cta_container h2 {
  font-weight: vars.$font-w-bold-less;
  font-style: italic;
}

.promo_p {
  font-family: vars.$font-stack-title;
  font-size: var(--font-size-banner);
  font-weight: bold;
  margin-top: vars.$spacing-small;
  margin-bottom: vars.$spacing-small;
}

@media (max-width: vars.$breakpoint-xs) {
  .inner_container {
    padding: vars.$spacing-medium vars.$spacing-xsmall;
  }

  .cta_container {
    border-width: calc(vars.$sizing-xsmall * 0.2);
  }
}
