.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  padding: 2.6em;
  background-color: thistle;
  text-align: center;
}

.item {
  min-height: 120px;
  aspect-ratio: 1/1;
  background-color: aqua;
}
